
:root{
    --mainColor:rgb(56, 111, 112);
    --secondColor:white;
    --hover:rgb(218, 72, 177);
}

/* nav{
    padding: 20px 6%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color:var(--mainColor) ;
    color: var(--secondColor);
}
nav p{
    width: 10%;
    text-align: center;
    background-color: black;
    font-size: 50px;
    font-weight: bold;
    color: var(--secondColor);
    transition: all 1s;
}
nav p:hover{
    color: rgb(218, 72, 177);
    transform: scale(1.2);
    scale: 1.2;
    cursor: pointer;
}
nav ul{
    display: flex;
    align-items: center;
    font-size: 25px;
    

}
nav ul li{
    margin-left: 40px;
    list-style-type: none;
    transition: all 1s;
}
nav ul li:hover{
    transform:scale(1.2) ;


}
nav ul li a{
    text-decoration: none;
    color: var(--secondColor);
}
nav ul li a:hover{
    color: rgb(218, 72, 177);
}
@media screen and (min-width:769px) and (max-width:1068px){

nav h1{
    width: 20%;
    font-size: 30px;
}
nav ul{
    font-size: 20px;
}
nav ul li{
    margin-left: 25px;
}

}
@media screen and (min-width:481px) and (max-width:768px){

nav h1{
    width: 20%;
    font-size: 20px;
}
nav ul{
    font-size: 20px;
    display: block;
    background: red;
}
nav ul li{
    margin-left: 20px;
}

} */

    *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "inter",sans-serif;
        }
        /* :root{
            --mainColor:#C47BE4;
            --secondColor:white;
            --mainBgC:black;
        } */
        nav{
        background-color: var(--mainColor) !important;
        color: white ;
        font-size: 1.5em ;
        }
        nav ul{
            margin-right: 7%;
        }
        nav li a{
            color: white !important;
            transition: all 1s;
        }
        nav li a:hover{
            color: var(--hover) !important;
            scale: 1.1;
        }
        #logo{
            margin-left: 7%;
            font-size:1.5em;
            font-family: "Dancing Script", cursive;
            font-weight: bold;
            transition: all 1s;
        }
        #logo:hover{
            cursor: pointer;
            scale: 1.1;
            color: var(--hover);
        }
        nav button{
            margin-right: 7%;
        }

.main{
    width: 100%;
    background-color: var(--mainColor);
    height: 100vh;
    display: flex;
    gap: 2%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 7%;
}
.main .left{
    width: 40%;
}
.main .left p{
    font-weight: bold;
    font-size: 25px;
}
.main .left pre{
    font-size: 35px;
}
.main .left .cv{
    background-color:rgb(218, 72, 177);
    padding: 10px 40px;
    border-radius: 15px;
    font-size: 30px;
    margin: 2% 0;
    display: inline-block;
    transition: all 1s;
    text-decoration: none;
    color: var(--secondColor);
}
.main .left .cv:hover{
    background-color: white;
    color:rgb(218, 72, 177) ;
    transform: scale(1.1);
    text-decoration: none !important;
}
.main .left .icons{
    margin-top: 4%;
}

.main .left .icons a i{
    font-size: 40px;
    color: var(--secondColor);
    transition: all 1s;
}
.main .left .icons a i:hover{
    color: var(--hover);
    scale: 1.1;
}

.main .right{
    width: 40%;
    display: flex;
    /* background-color: aqua; */
    justify-content: flex-end ;
    overflow: hidden;
}
.main .right img{
    width: 400px;
    height: 600px;
    border-radius: 20px;
    transition: all 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.main .right img:hover{
    scale: 1.1;
}



.about-me{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10% 0;
    /* height: 80vh; */

}
.about-me h1{
    color: rgb(218, 72, 177);
    font-size: 70px;
    transition: 0.7s ease;

}
.about-me h1:hover
{
    color: #5d92b2;
    transform: scale(1.1);

}
.about-me .text{
    background-color:white;
    width: 70%;
    padding: 40px 100px;
    font-size: x-large;
    border-radius: 40px 0px;
    line-height: 50px;
    text-transform: capitalize;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/* skills */
.my-skills{
    width: 100%;
    padding: 7%;
    background-color: var(--mainColor);

}
.my-skills .head{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--secondColor);
}
/* .my-skills .skills{
    background-color: rgb(225, 207, 242);
} */
 .my-skills .skills .skill{
    margin-bottom: 30px;
 }
.my-skills .skills .skill p{
    font-size: 35px;
    font-weight: bold;
}
.my-skills .skills .skill .bg{
    width: 70%;
    background-color: black;
    border-radius: 30px;
}
.my-skills .skills .skill .bg .fg{
    border-radius: 30px;
    padding: 5px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.my-skills .skills .skill .bg .fg1{
    width: 95%;
    background-color: rgb(235, 232, 20); 

}
.my-skills .skills .skill .bg .fg2{
    width: 80%;
    background-color: rgb(218, 100, 194); 
}
.my-skills .skills .skill .bg .fg3{
     width: 75%;
    background-color: rgb(59, 235, 20); 
}
.my-skills .skills .skill .bg .fg4{
     width: 70%;
    background-color: rgb(235, 49, 20); 
}
@media screen and (max-width:500px) {

.my-skills .head{
    font-size: 30px;
    margin-bottom: 30px;
}
.my-skills .skills .skill{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.my-skills .skills .skill p{
    font-size: 25px;
}

}


/* projects */
.projects{
    padding: 7%;
}
.projects p{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.projects .projectsCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.projects .projectsCards .cardd{
    width: 420px;
    background-color: var(--mainColor);
    border-radius: 20px;
    margin-bottom: 30px;
}
.projects .projectsCards .cardd .imgg{
    width: 100%;
    border-radius: 20px;

}
.projects .projectsCards .cardd .imgg img{
    width: 100%;
    border-radius: 20px 20px 0 0;

}
.projects .projectsCards .cardd .link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

}
.projects .projectsCards .cardd .link a{
    background-color: var(--secondColor);
    padding: 10px 20px;
    color: var(--mainColor);
    border-radius: 20px 40px;
}
@media screen and (max-width:970px){
    .projects .projectsCards{

    justify-content:center;

}
}